{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container my-5">
    <style>
        .campaign-card img {
            width: 100%;        
            height: 250px;    
            object-fit: cover;  
            opacity: 0.5; 
        }

        .campaign-card .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3); 
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .no-image-title {
            height: 200px;
            background-color: #d4e9d4;
            color: #66723D;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

    </style>
    <h2 class="text-center mb-4" style="font-size: 2rem; color: #66843a;">Actions</h2>

    <h4 style="padding-top: 40px; padding-bottom: 10px;"> WEEKLY GROUP CHALLENGE: </h4>
    <div class="group-border">
        <div class="group-challenge">
            <div class="left-column">
                <h5>Every week, every group member.</h5>
                <div class="progress-outline">
                    <p style="padding-bottom: 0px;">COMPLETION: {{ completion_percentage }}%</p>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: {{ completion_percentage }}%;"></div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="inner-column">
                    {% if completed_members == 1 %}
                        <h5>So far</h5><h1 style="color: #b8db15"><b> 1 </b></h1><h5>group member has been sustainable.</h5>
                    {% else %}
                        <h5>So far</h5><h1 style="color: #b8db15"><b> {{ completed_members }} </b></h1><h5>group members have been sustainable.</h5>
                    {% endif %}
                </div>
                <div class="inner-column">
                    {% if remaining_members == 0 %}
                        <h5>You've done it!</h5><h1 style="color: #b8db15"><b> 0 </b></h1><h5>group members left.</h5>
                    {% else %}
                        <h5>Encourage your teammates!</h5><h1 style="color: #b8db15"><b> {{ remaining_members }} </b></h1><h5>more to go!</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- Active Challenges Section -->
    <section>
        <h3 class="mb-3" style="font-size: 1.5rem; color: #66723D;">Active Challenges</h3>
        <div class="row">
            {% for campaign in active_campaigns %}
                <div class="col-md-4 mb-3">
                    <div class="campaign-container" style="position: relative;">
                        <div class="card campaign-card" style="border: none; background-color: #f2f2f2;">
                            {% if campaign.campaign_picture %}
                                <img src="{{ campaign.campaign_picture.url }}" class="card-img-top" alt="{{ campaign.title }}">
                                <div class="overlay">{{ campaign.title }}</div> <!-- Title over the image -->
                            {% else %}
                                <img src="{% static 'img/eagle.png' %}" class="card-img-top" alt="{{ campaign.title }}">
                                <div class="overlay">{{ campaign.title }}</div> <!-- Title over the image -->
                            {% endif %}
                        </div>
                        <!-- Dropdown section -->
                        <div class="campaign-details" style="display: none; background-color: #f9f9f9; border: 1px solid #ddd; padding: 10px; position: absolute; top: 110%; left: 0; width: 100%; z-index: 10; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                            <p style="color:#66723D"><strong>{{campaign.title}}</strong></p>
                            <p><strong>Individual Points:</strong> {{ campaign.individual_points }} pts</p>
                            <p><strong>Group Points:</strong> {{ campaign.group_points }} pts</p>
                            <p><strong>Active:</strong> {{ campaign.start_date|date:"F j, Y" }} - {{ campaign.end_date|date:"F j, Y" }}</p>
                            <p><strong>Description:</strong> {{ campaign.description }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No active campaigns at the moment.</p>
            {% endfor %}
        </div>
    </section>
</main>

<style>
    .campaign-container {
        position: relative;
    }

    .campaign-card {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .campaign-card:hover {
        transform: scale(1.05);
    }

    .campaign-container:hover .campaign-details {
        display: block !important;
    }

    .campaign-details {
        animation: fadeIn 0.3s ease-out;
    }

    .group-border {
        width: 100%;
        padding: 20px;
        background-color: #789E4E;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .group-challenge {
        width: 100%;
        padding: 20px;
        background-color: #E6E5E3;
        color: #000000;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        font-size: initial;
        font-weight: normal;
    }

    .progress-outline {
        padding: 10px;
        margin: 30px;
        margin-bottom: 10px;
        color: #000000;
        background-color: #fcfcfc;
        border-radius: 10px;
    }

    .progress-bar {
        display: flex;
        margin-top: 0px;
        padding: 0px;
        border: 2px solid #555; /* Dark grey border */
        border-radius: 10px; /* Rounded corners */
        height: 20px; /* Ensure the height is set */
        width: 100%; /* Ensure the width is set */
        background-color: #e0e0e0; /* Light grey background */
    }

    .progress-fill {
        height: 100%;
        background-color: #b8db15; /* Green color for completed actions */
        transition: width 0.5s ease; /* Smooth transition for the fill */
        width: 0; /* Default width */
    }

    .left-column, .inner-left-column{
        flex: 1;
    }

    .right-column{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner-column {
        flex: 1; /* Ensures both columns take up equal space */
        padding: 10px; /* Adds some padding for better spacing */
        padding-left: 50px;
        text-align: center;
    }

    .status-circle {
        display: inline-block;
        width: 10px; /* Adjust the size as needed */
        height: 10px; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the element a circle */
        margin: 7px; 
        margin-right: 15px;
        vertical-align: middle; /* Aligns the circle with the text */
    }

    .completed {
        background-color: #4caf50; /* Green color for completed actions */
    }

    .not-completed {
        background-color: #ffffff; /* White color for not completed actions */
        border: 1px solid #ccc; /* Optional: Add a border to make the circle visible */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock %}
