{% extends 'base.html' %} 
{% block content %} 

<h1>Welcome back, {{ user.first_name }}!</h1>
<div class="leaderboard-container">
    <h2>Individual Leaderboard</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align: right;">Lifetime Points</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    {% if u.user_type == "student" %}
                        <tr>
                            <td>{{ forloop.counter }} ) {{ u.first_name }} {{ u.last_name }}</td>
                            <td style="text-align: right;">{{ u.lifetime_points }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <tr class="highlight">
        <td>{{ profile.first_name }} {{ profile.last_name }}</td>
        <td style="text-align: right;">{{ profile.lifetime_points }}</td>
    </tr>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    h1 {
        font-size: 2.5em;
    }
    .leaderboard-container {
        width: 100%;
        padding: 20px;
        background-color: #789E4E;
        color: #fff;
        border-radius: 10px;
    }
    .leaderboard-container h2 {
        font-size: 2em;
    }
    .table-container {
        max-height: 400px;
        overflow-y: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #4e4e4e;
        font-size: 1.2em;
    }
    th {
        font-size: 1.5em;
        position: sticky;
        top: 0;
        background-color: #789E4E;
        z-index: 1;
    }
    .highlight {
        font-weight: bold;
        background-color: #5a7d3c;
        font-size: 1.2em;
    }
    tr td:last-child {
        text-align: right;
    }
</style>

{% endblock %}