{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-3 text-center">
                <h1>Profile</h1>
                <h4>
                    Welcome 
                    {% if user.first_name or user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </h4>
            </div>
        </div>
        {% if user.profile.profile_picture %}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Complete Your Profile</h2>
                <button id="editButton" class="btn btn-secondary mb-3">Edit</button>
                <div id="profilePicForm" style="display: none;">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.profile_picture.label_tag }}
                            {{ form.profile_picture }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile Picture</button>
                    </form>
                </div>
                <div class="row">" "
                </div>
                <div id="staticText">
                    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                    <p>Email: {{ user.profile.email }}</p>
                    <p>Major: {{ user.profile.major }}</p>
                    <p>School: {{ user.profile.school }}</p>
                    <p>Graduation Year: {{ user.profile.graduation_year }}</p>
                    <p>Eagle ID: {{ user.profile.eagle_id }}</p>
                    <p>User Type: {{ user.profile.user_type }}</p>
                </div>
                <div id="editForm" style="display: none;">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3 text-left">
                            <label for="id_major" class="w-100">Major</label>
                            {{ form.major }}
                        </div>
                        <div class="form-group mb-3 text-left">
                            <label for="id_school" class="w-100">School</label>
                            {{ form.school }}
                        </div>
                        <div class="form-group mb-3 text-left">
                            <label for="id_graduation_year" class="w-100">Graduation Year</label>
                            {{ form.graduation_year }}
                        </div>
                        <div class="form-group mb-3 text-left">
                            <label for="id_eagle_id" class="w-100">Eagle ID</label>
                            {{ form.eagle_id }}
                        </div>
                        <div class="form-group mb-3 text-left">
                            <label for="id_user_type" class="w-100">User Type</label>
                            {{ form.user_type }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('editButton').addEventListener('click', function() {
            var profilePicForm = document.getElementById('profilePicForm');
            var editForm = document.getElementById('editForm');
            var staticText = document.getElementById('staticText');
            if (profilePicForm.style.display === 'none') {
                profilePicForm.style.display = 'block';
                editForm.style.display = 'block';
                staticText.style.display = 'none';
            } else {
                profilePicForm.style.display = 'none';
                editForm.style.display = 'none';
                staticText.style.display = 'block';
            }
        });
    </script>
{% endblock %}
