{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% block content %} 
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h1 class="text-left">Profile</h1>
            <h4 class="text-center">
                Welcome 
                {% if user.first_name or user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </h4>
        </div>
    </div>
    {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
    {% endif %}
    <h2>Complete Your Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}